.git
.gitignore
node_modules
**/node_modules
dist
build
.system_generated
.tempmediaStorage
helm_dir
helm3_out
*.exe
*.zip
*.tar.gz
*.log
*.db
*.tmp
data/
data_node_*
.venv/
**/.venv/
venv/
**/venv/
__pycache__/
**/__pycache__/
.env
